.about-us-title{
    margin: 10px 0 10px 0;
    justify-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.card-title-about-us{
    font-size: 50px;
    margin-bottom: 10px;
}
.card-title-image-about-us-1{
    font-size: 35px;
}
.card-title-image-about-us-2{
    font-size: 35px;
}
.card-text-co-founder,
.card-text-about-us{
    font-size: 25px;
}
.title-co-founder{
    font-size: 35px;
    margin-left: 40%;

}
#card-image{   
    width: 80%;
    margin: 15px 10% 0 15%;
}
.card-image2{
    width: 80%;
    margin-top: 15px;
    margin-right: 20%;

}
.card-name-co-founder{
    font-size: 25px;
    font-family: Verdana;
}
#co-founder{

    margin-top: 50px;
    margin-bottom: 60px;

}
.about-image{
    /* width: 10em; */
    height: 440px;
}
.hover-effect {
    transition: transform 0.4s ease;
    text-align: center; 
}
.hover-effect{
    border-radius: 20px;
}
.hover-effect:hover {
    transform: translateY(-10px);
}

@keyframes animation { 
    0% { color: #EAD8FC } 
    50% { color: #9FCBF4; } 
    100% { color:  #2da0ed;}
     }
  .animation{   
      -webkit-animation: animation  5000ms infinite;
      animation-duration: animation 5000ms infinite; 
      animation-name:animation 1000ms infinite; 
    }   


  @media only screen and (max-width: 620px) {
    #card-image
    .card-text{
        font-size: 10px;
    }
    .card-title{
        font-size: 40px;
    }
    #card-image{
        width: 100%;
        margin-left: 0;
    }
    .card-image2{
        width: 100%;   
    }
    .card-image2
    .card-title{
        font-size: 15px;
    }
    #co-founder{
        margin-left: 10%;
    }  
}